<h1> Users </h1>

<% @users.each do |user| %>
  <ul>
    <li>
      username: <%= user.username %>, 
      email: <%= user.email %>
      <%= link_to  "-->", user_path(user) %>
    </li>
  </ul>
<% end %>


<%= link_to "Sign up",  new_user_path %>
<%= link_to "Sign in",  users_sign_in_path %>
