<h1>  Previous Events: </h1>

<ul>
  <% @my_past_events.each do |event| %>
    <li>
      <%= event.date %>
      <%= event.title %>
      <%= event.body %>
      <%= event.place %>
      <%= link_to 'show', event_path(event) %>
    </li>
  <% end %>
</ul>

<h1>  Upcoming Events: </h1>
<ul>
  <% @my_up_events.each do |event| %>
    <li>
      <%= event.date %>
      <%= event.title %>
      <%= event.body %>
      <%= event.place %>
      <%= link_to 'show', event_path(event) %>
    </li>
  <% end %>
</ul>
