<div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <div class="">
                  <h1 class="has-text-white has-background-info has-text-centered"> Previous Events:</h1>
              <div class="events-container">
                
                <% @events.past.each do |event| %>
                    <div class="card">
                      <header class="card-header">
                        <p class="card-header-title has-text-centered is-block">
                         <%= event.title %>
                        </p>
                      </header>
                      <div class="card-content">
                        <div class="content">
                          <%= event.body %>
                          <a href="#"><%= event.place %></a>
                          <br>
                          <time datetime="2016-01-01">Date: <%= event.date %></time>
                        </div>
                      </div>
                      <footer class="card-footer">
                        <%= link_to "Show", event_path(event), class:"card-footer-item" %>
                      </footer>
                    </div>
                <% end %>
              
              </div>
            </div>
            <div class="">
              <h1 class="has-text-white has-background-info has-text-centered">Upcoming Events:</h1>
              <div class="events-container">
                <% @events.upcoming.each do |event| %>
                    <div class="card">
                      <header class="card-header">
                        <p class="card-header-title has-text-centered is-block">
                         <%= event.title %>
                        </p>
                      </header>
                      <div class="card-content">
                        <div class="content">
                          <%= event.body %>
                          <a href="#"><%= event.place %></a>
                          <br>
                          <time datetime="2016-01-01">Date: <%= event.date %></time>
                        </div>
                      </div>
                      <footer class="card-footer">
                        <%= link_to "Show", event_path(event), class:"card-footer-item" %>
                      </footer>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
