<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css' %>
  </head>

  <body>
    <%= notification_handler %>
    <%= alert_handler %>
    <nav class="navbar is-info">
      <div class="navbar-menu">
        <%= session_handler %>
      </div>
    </nav>
    
    <div class="my-content">
      <%= yield %>
    </div>
  </body>
</html>
